html {
  font-size: 18px;
}

body {
  font-family: helvetica;
  font-weight: bold
}

.container {
  width: 960px;
  margin: 0 auto;
}

.logo {
  background-color: black;
  color: white;
}


.logo .container {
  display: flex;
  align-items: center;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

.logo img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.logo span {
  font-size: 1rem;
}

/*  ##### Main Banner ##### */

.main {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
}

.container .title {
  background-color: black;
  color: white;
  width: 20rem;
  padding: 2rem 3rem;
  position: relative;
  top: 9rem;
  height: 7rem;
}

.title h4 {
  font-size: 1rem;
  padding-bottom: 0.75rem;
}

.title h1 {
  font-size: 2rem;
  line-height: 2.25rem;
}

/* ##### NAV BAR ##### */
.navigation {
  width: 100%;
  background-color: firebrick;
  color: white;
}

nav ul {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0.75rem 0;
}
